.post {
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid var(--twitter-background);
}

.post--body {
    flex: 1;
    padding: 20px;
}

.post--body > img {
    border-radius: 20px;
    width: 100%;
}

.post--footer {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.post--headerDiscription {
    margin-bottom: 10px;
    font-size: 15px;
}

.post--headerText > h3 {
    font-size: 15px;
    margin-bottom: 5px;
    margin-top: 0;
    cursor: pointer;
}

.post--badge {
    font-size: 14px !important;
    color: var(--twitter-color);
}

.post--headerSpecial {
    font-size: 12px;
    font-weight: 600;
    color: gray;
    display: flex;
    align-items: center;
}

.post--avator {
    padding: 20px;
}

.chatBubbleOutline {
    cursor: pointer;
}

.repeat {
    cursor: pointer;
}

.favoriteBorder {
    cursor: pointer;
}

.favorite {
    cursor: pointer;
    color: #fa8cd0;
}

.publishOutlined {
    cursor: pointer;
}
